.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.webp'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p!= theme.description

  ul.social-links
    if theme.github
      li
        a(href=theme.github)
          i.fa.fa-github
    if theme.mail
      li
        a(href=theme.mail)
          i.fa.fa-envelope
    if theme.QQ
      li
        a(href= theme.QQ)
          i.fa.fa-qq

    if theme.zhihu
      li
        a(href=theme.zhihu)
          i.fa.fa-mortar-board

    if theme.twitter
      li
        a(href=theme.twitter)
          i.fa.fa-twitter-square

    if theme.facebook
      li
        a(href=theme.facebook)
          i.fa.fa-facebook-square
  include footer
